.home-container {
    position: relative;
    margin: 50px 10px 0px 0px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    background-color: #F8FAFC;
    height: 100vh;
}

.home-container .section-h hr {
    margin-top: -10px;
    margin-bottom: 15px;
}

.add-staff-container{
    background-color: var(--light);
    border: 2px solid var(--light-green);
    border-radius: 10px;
    padding: 15px 20px;
}

.add-staff-container .form-title {
    font-size: 25px;
    font-weight: 500;
    color: var(--green);
}

.add-staff-container form .staff-details{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.add-staff-container form .staff-details .form-row {
    display: flex;
    flex-direction: row;
}

.add-staff-container form .staff-details .form-row .form-group {
    font-size: 18px;
    width: 45%;
}

.add-staff-container form .staff-details .form-row .form-group:last-of-type{
    margin-left: 20px;
}

.add-staff-container form .staff-details .form-row .form-group input {
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid var(--secondary);
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

.add-staff-container form .staff-details .form-row .form-group input:focus {
    border: 2px solid var(--green);
}

.add-staff-container form .submit-btn{
    text-align: center;
    color: var(--light);
    background: var(--green);
    width: 200px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
}

.add-staff-container form .submit-btn:hover {
    background: var(--dark-green);
}

.search-container {
    margin-top: 15px;
    display: flex;
}

.search-container .search {
    font-size: 17px;
    height: 40px;
    border: 2px solid var(--green);
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(232, 231, 231, 0.585);
    width: 400px;
    outline: none;
}

.search-container .search-btn {
    background-color: var(--green);
    color: var(--light);
    margin-left: 10px;
}

.search-container .search-btn:hover {
    background-color: var(--dark-green);
}

.table-container {
    overflow-y: scroll;
    max-height: 300px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}

.table th {
    background-color: var(--dark-green);
    color: #ffffff;
    position: sticky;
    top: 0;
}

.table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.table tbody tr .status span {
    padding: 5px 10px;
    border-radius: 10px;
}



