@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400&display=swap');

:root {
    --green: #1B9527;
    --dark-green:#007B0C;
    --darker-green:#005700;
    --light-green:#007B6B;
    --dark:#000000;
    --light:#ffffff;
    --primary:#007BFF;
    --secondary:#6C757D;
    --danger:#DC3545;
    --dark-red:#ae2533;
    --success:#28A745;
    --warning:#FFC107;
    --info:#17A2B8;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

@keyframes show-text-1 {
    from{
        margin-left: -950px;
    }
    to{
        margin-left: 60px;
    }
}

@keyframes show-text-2 {
    from{
        margin-left: -500px;
    }
    to{
        margin-left: 120px;
    }
}

@keyframes btn-animation {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
}

nav {
    display: flex;
    margin: auto;
    padding: 10px 5px;
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in;
}


nav div ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    margin: 0px auto 0px 0px;
}

nav div ul li {
    cursor: pointer;
    display: inline;
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

nav div ul li a{
    font-size: 20px;
    text-decoration: none;
    color: green;
}

nav div ul li:hover {
    transform: scale(1.1);
}

nav div ul li a:hover {
    color: var(--dark-green);
}

.menu-btn div {
    width: 25px;
    height: 4px;
    background-color: var(--green);
    margin: 5px 20px 5px 5px;
}

.menu-btn {
    display: none;
}

.show-close {
    opacity: 1;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.16), rgba(255, 255, 255, 0.3)), url("../images/banner-1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.banner-text-1 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 200px;
    margin-left: -950px;
    color: var(--light-green);
}

.banner-text-2 {
    font-size: 70px;
    margin-left: -500px;
    color: var(--green);
}

.text-anim-1{
    animation-name: show-text-1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.text-anim-2{
    animation-name: show-text-2;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

.banner-button button {
    opacity: 0;
    cursor: pointer;
    width: 230px;
    color: var(--light);
    font-size: 25px;
    background-color: transparent;
    box-shadow: inset 230px 0 0 0 var(--green);
    border-radius: 5px;
    border: 2px solid var(--green);
    padding: 10px 20px;
    transition: all 0.5s ease-in-out;
}

.banner-button #banner-btn-register {
    box-shadow: inset 230px 0 0 0 var(--light-green);
    border: 2px solid var(--light-green);
    margin-left: 30px;
}

.btn-group{
    margin-top: 150px;
    display: flex;
    align-items: center;
}

.banner-button #banner-btn-register:hover{
    color: var(--light-green);
    box-shadow: inset 0 0 0 0 var(--light-green);
}

.banner-button button:hover {
    color: var(--green);
    box-shadow: inset 0 0 0 0 var(--green);
}

.banner-button #banner-btn-login{
    margin-left: 30px;
}

.button-anim{
    animation-name: btn-animation;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.section {
    height: 100vh;
    background-color: var(--light);
}

.section-title {
    padding-top: 80px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    margin-top: 35px;
    color: var(--dark-green);
}

.h-line {
    height: 3px;
    margin: auto;
    background-color: var(--dark-green);
    width: 120px;
}

.services .wrapper {
    padding: 0px 15px 0px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.service {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.service-detail {
    margin-top: 20px;
    width: 250px;
}

.service-detail .service-name {
    font-weight: bold;
    font-size: 20px;
    color: var(--dark-green);
}

.service-detail .service-desc {
    margin-top: 20px;
}

.about .wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about .wrapper .doc-img-frame{
    display: flex;
}

.about .wrapper .img-outline {
    background-color: var(--light-green);
    border-radius: 10px;
    margin-left: -20px;
    height: 60vh;
    width: 20vw;
}

.about .wrapper .doctor-image{
    position: absolute;
    margin-top: 20px;

}

.about .wrapper .img-doctor{
    position: relative;
    border-radius: 10px;
    border: 2px solid var(--light-green);
    width: 20vw;
    height: 60vh;
}

.about .wrapper .doctor-details {
    color: var(--green);
    width: 50vw;
    font-size: 22px;
    font-style: oblique;
}



.location .wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.location .wrapper .map {
    z-index: 1;
}

.location .wrapper iframe{
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--light-green);
    border-radius: 10px;
    width: 50vw;
    height: 70vh;
}
.location .wrapper .address{
    font-size: 25px;
    color: var(--light);
    background-color: var(--light-green);
    border-radius: 20px;
    height: 30vh;
    width: 25vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
    z-index: 0;
}

.location .wrapper .address div{
    padding: 20px 30px 20px 50px;
}


.contact .wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.contact .form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact .form-input {
    border: 2px solid var(--light-green);
}

.contact .form-input:focus {
    outline: none;
    border: 2px solid var(--green);
    transition: all 0.2s ease-in-out;
}

.contact input {
    font-family: 'Poppins', sans-serif;
    width: 50vw;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    outline: none;
}

.contact .form-input::placeholder {
    color: #3c290a;
}

.contact .form-input::-ms-input-placeholder {
    color: #3c290a;
}

.error::-webkit-input-placeholder {
    color: red;
}

.contact .err-msg{
    color: red;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.contact textarea {
    font-family: 'Poppins', sans-serif;
    width: 50vw;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    font-size: 20px;
    outline: none;
    border: 2px solid white;
}

.contact .sumbit-btn {
    background-color: var(--light-green);
    border: 0px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.contact .sumbit-btn:hover {
    background-color: var(--green);
}

.footer .container {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px 0px 30px;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.footer {
    background-color: var(--light-green);
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-col {
    width: 23vw;
    padding: 0 30px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--danger);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col div p {
    color: var(--light);
    text-align: justify;
}

.footer-col ul li {
    margin-bottom: 10px;
    color: var(--light);
    font-size: 16px;
    display: flex;
}

.fa-phone,
.fa-envelope {
    margin-top: 5px;
    margin-right: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 300;
    color: var(--light);
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col ul li input {
    height: 35px;
    width: 350px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}

.footer-col ul li button {
    height: 30px;
    font-size: 15px;
    width: 100px;
    padding: 5px 10px;
    color: var(--light);
    background-color: var(--danger);
    border: 0px solid;
    border-radius: 5px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: var(--light);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a i {
    font-size: 20px;
    color: var(--green);
}

.footer-col .social-links a i:hover {
    color: var(--dark-green);
}


.footer-col .social-links a:hover {
    background-color: var(--light);
}

.copyright {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.slidenav {
    padding: 100px 20px 20px 0px;
    width: 80vw;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
}

/*responsive*/

@media(max-width: 1380px) {
    .service-name {
        font-size: 25px;
    }

    .service-desc {
        font-size: 20px;
    }
}

@media(max-width: 1050px){
    .footer-col {
        margin-top: 20px;
        width: 100%;
    }

    .contact input{
        width: 80vw;
    }

    .contact textarea{
        width: 80vw;
    }
}

@media(max-width: 950px){
    .services .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr);
        height: auto;
    }

    .banner-button button{
        margin-bottom: 40px;
    }

    .section{
        height: auto;
    }

    .about .wrapper{
        margin-bottom: 30px;
    }

    .contact .wrapper{
        margin-bottom: 30px;
    }

    .location .wrapper iframe {
        width: 50vw;
        height: 60vh;
    }

    .location .wrapper .address{
        width: 50vw;
    }
}

@media(max-width: 768px) {
    .menu-btn {
        display: block;
        margin-top: 10px;
        margin-right: 20px;
        cursor: pointer;
        z-index: 1;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    nav div ul {
        position: absolute;
        right: -50px;
        width: 0px;
        height: 100vh;
        top: 0;
        background-color: var(--light);
        flex-direction: column;
        padding: 100px 20px 20px 20px;
        align-items: center;
        text-align: center;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
        box-shadow: -4px 0px 20px 0px rgba(0,0,0,0.75);
    }

    nav div ul li a{
        color: var(--green);
    }

    nav div ul li {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .banner-text-1 {
        font-size: 50px;
    }

    .banner-text-2 {
        font-size: 60px;
    }

    .location .wrapper {
        flex-direction: column;
    }

    .location .wrapper iframe {
        width: 90vw;
        height: 50vh;
    }

    .location .wrapper .address{
        width: 90vw;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    .location .wrapper .address div{
        padding: 20px;
    }
}

@media(max-width: 574px) {

    .services .wrapper {
        height: 50vh;
    }
    .footer-col {
        width: 100%;
    }

    .banner-text-1 {
        font-size: 40px;
    }

    .banner-text-2 {
        font-size: 50px;
    }

    .btn-group{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #banner-btn-register{
        margin-left: 20px;
    }

    #banner-btn-login{
        margin-left: 20px;
    }
}