/* login page styles */

.login-img{
     height: 90%;
     width: 40vw;
}

.login-container{
     margin-top: auto;
     margin-bottom: auto;
}

#logo {
     height: 100px;
     width: 100px;
}

.login-form{
     padding: 30px;
     width: 40vw;
     margin-left: auto;
     margin-right: 50px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px var(--secondary);
}

.login-form-header {
     display: flex;
     align-items: center;
     justify-content: center;
}

.login-form .login-form-header h2{
     font-size: 40px;
     text-transform: uppercase;
}

.login-form .user-opt {
     display: flex;
     justify-content: center;
     align-items: center;
}

.login-form .user-opt .user-type-btn {
     text-align: center;
     border: 2px solid var(--green);
     color: var(--green);
     transition: all 0.3s ease-in-out;
     font-size: 15px;
     margin-left: 5px;
     margin-right: 5px;
}

.checked {
     background-color: var(--green);
}

.login-form .user-opt .user_type {
     display: none;
}

.login-form .form-group{
     margin-top: 50px;
     margin-bottom: 20px;
}

.login-form .input-group{
     height: 40px;
     width: 80%;
     margin: auto;
     position: relative;
}

.login-form .input-group input:focus ~ h5{
     transform: translateY(-20px);
     font-size: 20px;
     color: var(--green);
}

.login-form .input-group h5{
     font-size: 25px;
     color: rgba(185, 185, 185, 0.452);
     position: absolute;
     bottom: -18px;
     pointer-events: none;
     transition: all 0.3s ease-in-out;
}

.login-form .input-group input{
     height: 100%;
     width: 100%;
     border: none;
     border-bottom: 2px solid rgb(158, 156, 156);
     outline: none;
     background: none;
     font-size: 25px;
}

.show-pwd-icon{
     color: var(--green);
     font-size: 25px;
     position: absolute;
     bottom: 10px;
     margin-left: 45%;
     cursor: pointer;
}

.forgot-pwd{
     padding: 20px 0px 20px 0px;
     display: flex;
     margin-left: 10%;
}

.remember-me{
     padding: 20px 0px 20px 0px;
     display: flex;
     margin-left: 10%;
     align-items: center;
}

.remember-me input[type=checkbox] {
     border: 2px solid var(--green);
     border-radius: 10px;
     width: 20px;
     height: 20px;
}


.remember-me span{
     margin-left: 10px;
     font-size: 18px;
}


.login-form .login-btn{
     margin-top: 20px;
     background-color: var(--green);
     color: var(--light);
     font-size: 25px;
     width: 50%;
     margin: auto;
     transition: all 0.2s ease-in-out;
}

.login-form .login-btn:hover{
     background-color: var(--dark-green);
}

.err-login{
     text-align: left;
     margin-left: 10%;
     font-size: 20px;
     font-weight: bold;
     color: var(--danger);
}

.signup-opt{
     padding-top: 10px;
     text-align: center;
}


.signup-opt p{
     font-size: 20px;
}
.signup-opt p  a{
     text-decoration: none;
     color: var(--light-green);
}



.footer {
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     position: sticky;
     height: 40px;
     width: 100%;
     padding: 5px 10px;
}

.footer p{
     color: var(--light-green);
}

/* media query starts */

/* tablet devices */
@media (max-width: 768px){
     .img-container{
          display: none;
     }

     .login-form{
          width: 80vw;
          margin-left: 30px;
     }
}

/* mobile phones */
@media (max-width: 480px){
     .img-container{
          display: none;
     }

     .login-form{
          width: 80vw;
          margin-left: auto;
          margin-right: auto;
     }
}