body{
  margin: auto;
  padding: 0;
  font-family: 'Poppins';
}

table{
  font-size: 20px;
  margin-top: 80px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table .td-1, .td-2, .td-3, .td-4{
  padding: 10px 20px;
  text-align: center;
  background-color: rgb(34, 127, 65);
  color: white;
  height: 20px;
}

table thead tr{
  background-color: rgb(218, 218, 218);
}

table thead tr th{
  border-bottom: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
}

.input {
margin-top: 1%;
margin-bottom: 2%;
display: block;
width: 60%;
padding: 10px 0px;
background-color: rgb(155, 162, 157);
border-radius: 5px;
color: rgb(11, 11, 11);
font-size: 15px;
border: 1px solid rgb(142, 142, 191);
}

input:hover{
  cursor: pointer;
}

.submit-btn{
  background-color: rgb(21, 163, 56); 
  color: white;
  height: 50px;
  width: 60%;
  font-size: 20px;
  border: 1px solid transparent;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin-top: 3%;
}

.form{
  margin-top: 2%;
  margin-left: 28%;
}
