.home-container {
     position: relative;
     margin: 70px 10px 0px 10px;
     padding: 20px;
     flex-direction: column;
     display: flex;
}

.home-container .section-h hr {
     margin-top: -10px;
     margin-bottom: 15px;
}

.home-container .btn-container {
     display: flex;
     justify-content: flex-end;
}

.home-container .appointment-btn {
     background-color: var(--green);
     color: var(--light);
     font-size: 20px;
     transition: all 0.2s ease-in;
}

.home-container .appointment-btn:hover {
     background-color: var(--dark-green);
}

.home-container .appointment-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.home-container .appointment-container .appointment-details {
     width: 400px;
     border: 2px solid var(--green);
}

.home-container .appointment-container .appointment-calendar {
     height: 300px;
     width: 40vw;
     --fc-button-bg-color: var(--green);
     --fc-button-border-color: none;
     --fc-button-hover-bg-color: var(--dark-green);
     --fc-button-hover-border-color: none;
     z-index: 0;
}

.home-container .appointment-container .appointment-calendar .fc-toolbar-title {
     color: var(--dark-green);
}

.home-container .appointment-container .appointment-calendar .fc-col-header-cell-cushion {
     color: var(--green);
}

.home-container .appointment-container .btn-group {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     margin-left: 30px;
}

.home-container .appointment-container .download-btn {
     margin-top: 10px;
     background-color: var(--success);
     color: white;
     font-size: 18px;
     transition: all 0.2s ease-in;
}

.home-container .appointment-container .download-btn:hover {
     background-color: var(--dark-green);
}

.home-container .appointment-container .cancel-btn {
     margin-left: 5px;
     margin-top: 10px;
     background-color: var(--danger);
     color: white;
     font-size: 18px;
     transition: all 0.2s ease-in;
}

.home-container .appointment-container .cancel-btn:hover {
     background-color: var(--dark-red);
}

.home-container .appointment-container .btn-view-upcoming {
     background-color: var(--primary);
     color: var(--light);
     height: 40px;
     font-size: 18px;
}

.table-container {
     overflow-y: scroll;
     max-height: 300px;
}

.table {
     width: 100%;
     border-collapse: collapse;
}

.table td,
.table th {
     padding: 12px 15px;
     border: 1px solid #ddd;
     text-align: center;
     font-size: 16px;
}

.table th {
     background-color: var(--dark-green);
     color: #ffffff;
     position: sticky;
     top: 0;
}

.table tbody tr:nth-child(even) {
     background-color: #f5f5f5;
}

.table tbody tr .status span {
     padding: 5px 10px;
     border-radius: 10px;
}

.table tbody tr .status .status-true {
     background-color: var(--success);
     color: var(--light);
}

.table tbody tr .status .status-false {
     background-color: var(--warning);
}

.table-container .table-nav {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     margin-top: 10px;
}

.table-container .table-nav .number span {
     color: var(--dark-green);
     font-size: 25px;
     text-align: center;
}

.table-container .table-nav div {
     height: 40px;
     width: 40px;
     text-align: center;
}

.table-container .table-nav i {
     font-weight: bold;
     font-size: 25px;
}

.table-container .table-nav button {
     height: 40px;
     width: 40px;
     color: var(--green);
     background-color: #f5f5f5;
     border: 0px;
     cursor: pointer;
}

.table-container .table-nav .prev-btn {
     border-bottom-left-radius: 10px;
     border-top-left-radius: 10px;
}

.table-container .table-nav .next-btn {
     border-bottom-right-radius: 10px;
     border-top-right-radius: 10px;
}

.appointment-form {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.form-group {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     margin: auto;
     justify-content: flex-start;
     align-items: center;
}

.form-group h5 {
     font-size: 20px;
     text-align: center;
}

.form-input {
     margin-left: 50px;
     font-size: 20px;
     width: 30vw;
     height: 30px;
     border: 2px solid var(--green);
     border-radius: 10px;
     padding: 5px;
     background-color: rgba(232, 231, 231, 0.585);
}

.form-group #appoint-date {
     margin-left: 70px;
}

.form-group #appoint-time {
     margin-left: 70px;
}

.form-group #appoint-reason {
     margin-left: 50px;
     font-size: 20px;
     width: 30vw;
     height: 60px;
     border: 2px solid var(--green);
     border-radius: 10px;
     padding: 5px;
     background-color: rgba(232, 231, 231, 0.585);
}

.form-input:focus,
.form-group textarea:focus {
     outline: none;
}

.appointment-btn {
     background-color: var(--light-green);
     color: var(--light);
     font-size: 20px;
}

.search-container {
     display: flex;
     margin-bottom: 15px;
     margin-left: -50px;
}

.search-container .search {
     width: 400px;
}

.search-container .search::placeholder {
     font-size: 15px;
}

.search-container .search-btn {
     background-color: var(--green);
     color: var(--light);
     margin-left: 10px;
}

.search-container .search-btn:hover {
     background-color: var(--dark-green);
}



/* media query starts */

/* tablet devices */
@media (max-width: 768px) {

     .home-container .section-h h2 {
          font-size: 20px;
     }

     .home-container .appointment-container .btn-group {
          margin-top: 20px;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
     }

     .home-container .appointment-container .btn-group .cancel-btn {
          margin-left: 20px;
     }

     .home-container .appointment-container .appointment-calendar {
          margin-top: 15px;
          width: 90vw;
     }

     .home-container .appointment-container .appointment-calendar .fc-toolbar-title {
          font-size: 20px;
     }

     .form-input,
     .form-group #appoint-reason {
          width: 50vw;
     }

     .table tbody tr .status .status-true {
          background-color: transparent;
          color: var(--success);
     }
     
     .table tbody tr .status .status-false {
          background-color: transparent;
          color: var(--warning);
     }

}

/* mobile phones */
@media (max-width: 480px) {

     body {
          width: 100%;
     }

     .table thead {
          display: none;
     }

     .table,
     .table tbody,
     .table tr,
     .table td {
          display: block;
          width: 88%;
     }

     .table tr {
          margin-bottom: 15px;
     }

     .table td {
          text-align: right;
          padding-left: 50%;
          text-align: right;
          position: relative;
     }

     .table td::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-size: 15px;
          font-weight: bold;
          text-align: left;
     }

     .home-container .appointment-container .btn-group {
          margin-left: 0px;
     }

     .home-container .appointment-container .appointment-calendar {
          margin-top: 15px;
          width: 90vw;
     }

     .home-container .appointment-container .appointment-calendar .fc-toolbar-title {
          font-size: 18px;
     }

     .form-group {
          flex-direction: column;
          justify-content: center;
     }

     .form-group #appoint-date,
     .form-group #appoint-time {
          margin-left: 0px;
     }

     .form-input,
     .form-group #appoint-reason {
          width: 50vw;
          margin-left: 0px;
     }

     .table tbody tr .status .status-true {
          background-color: var(--success);
          color: var(--light);
     }
     
     .table tbody tr .status .status-false {
          background-color: var(--warning);
          color: var(--dark);
     }
}