body {
  background-image: url("../images/signup.jpg");
  font-family: "Poppins";
  background-size: 512px 753px;
}

.div-main {
  width: 530px;
  padding: 20px 10px 10px 10px;
  margin: 120px auto 0px 480px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px;
  background-color: white;
  height: 510px;
}

.form-input {
  width: 85%;
  outline: none;
  border: none;
  background: #a7d2bc;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.button {
  font-size:20px;
  margin-top: 15px;
  padding: 8px 0;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 91%;
  background-color: var(--green);
  color: #fff;
  cursor: pointer;
}

.not-member {
  font-size: 13px;
  margin-top: 18px;
}
.not-member a {
  color: rgba(24, 129, 95, 0.8);
  text-decoration: none;
}
