body {
  background-image: url("../images/pharmacist.jpg"); 
  padding: 0;              
  font-family: "Poppins";
  background-repeat: no-repeat;
  background-size: 100% 110%;
 
}

.container {
  width: 70vw;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  margin-top: 3%;
}

.topic {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  margin-top: 0%;
}

.item1 {
  opacity: 0.97;
  width: 34vw;
  background: #abbeab;
  height: 87vh;
  box-shadow: 4px 4px;
}

.logo {
  width: 150px;
  height: 150px;
}

.login-btn {
  border-radius: 5px;
  width: 100px;
  background-color: #bee3d3;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  transition: 0.5s;
  font-family: "Poppins";
}

.login-form .login-btn:hover {
  background: #40a981;
}

.form-input {
  border-radius: 5px;
  font-size: 16px;
  height: 10px;
  width: 60%;
  border: 2px solid green;
  background: #d9e2dd;
  padding: 12px 14px;
  margin-bottom: 4px;

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 25%;
}

.grid-row {
  border-radius: 30px;
}

.pharmacist {
  width: 37vw;
  height: 63vh;
}

.form-content {
  font-size: 17px;
}

.checkbox {
  margin-top: 24px;
  font-size: 13px;
}

.sign-up {
  margin-top: 10px;
}

.forgot-password {
  margin-top: 22px;
}

a:link {
  color: black;
}

.link {
  font-size: 13px;
}

h4 {
  margin-top: 10px;
}

#username_error,
#password_error {
  color: #bd2d17;
  margin-top: 3px;
  text-align: center;
}

#show_password {
  margin-left: 5%;
}
