body {
  background-image: url("../images/pharmacist.png");  
  padding: 0;              
  font-family: "Poppins";
  background-repeat: no-repeat; 
  background-size: 52% 91%;
  overflow: hidden;
}

.container {
  width: 70vw;
  margin: auto;
  border-radius: 2px;
  text-align: center;
  margin-top: 3%;
}

.topic {
  font-size: 36px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 1px;
}

 /* .back-btn-container{
  margin-top: 30px;
  margin-left:350px;
} 

.back-btn{
  background-color: white;
 width: 100px;
  height: 30px; 
   font-size: 16px; 
  border: 1px solid transparent;
   padding: 5px 10px 5px 10px; 
 
}

.back-link{
  color: var(--green);
}  

.back-link:link{
 text-decoration: none;
} 

.back-icon{
   color: var(--green); 
  font-size: 15px;
} */

.show-pwd-icon{
  color: var(--green);
  font-size: 15px;
  position: absolute;
  margin-left: 9px;
  margin-top: 13px;
  cursor: pointer;
}

.item1 {
  /* opacity: 0.97; */
  width: 34vw;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  box-shadow: 1px 1px 1px 3px var( --dark-green) ;
  border-radius: 30px;
  margin-left: 520px;
  margin-top: 13px;
}

 /* .checkbox {
  margin-top: 21px;
  font-size: 13px;
}  */

.logo {
  width: 150px;
  height: 150px;
  /* margin-bottom: 0px; */
}

.login-btn {
  border-radius: 5px;
  width: 120px;
  background-color: var(--green);
  color: white;
  font-weight: bold;
  font-size: 21px; 
  margin-top: 30px;
  transition: 0.5s;
  font-family: "Poppins";
  cursor: pointer;
  margin-left: 200px; 
}

/* .login-form .login-btn:hover {
  background: #40a981;
} */

.form-input {
  border-radius: 5px;
  font-size: 16px;
  height: 10px;
  width: 60%;
  border: 2px solid green;
  background: #e7e7e7;
  padding: 12px 14px;
  margin-bottom: 4px;
 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 25%;
}
/* 
.grid-row {
  border-radius: 30px;
} */

.pharmacist {
  width: 37vw;
  height: 63vh;
}

.form-content {
  font-size: 17px;
}

.sign-up {
  margin-top: 10px;
}

.sign-up {
  margin-top: 20px;
  font-size: 13px;
} 

a:link {
  color: black;
}


h4 {
  margin-top: 3px;
  font-weight: lighter;
  /* text-align: left;
  margin-left: 18%; */
  margin-bottom: 6px;
}

.username_error,
.password_error {
  color: #bd2d17; 
  margin-top: 2px;
  text-align: center;
  font-size: 14px;
 
}

hr{
  border: 0.1px solid black;
  width: 65%;
  margin-left: 88px;
  margin-bottom: 35px;
}