.home-container {
    position: relative;
    margin: 10px 10px 0px 10px;
    padding: 20px;
    flex-direction: column;
    display: flex;
}

.home-container .section-h{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.home-container .section-h div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-container .section-h div h3{
    color: var(--light-green);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-container .section-h div h3:hover{
    color: var(--green);
}

.home-container .section-h div h3 i{
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

.home-container .section-h div h3:hover i {
    color: var(--green);
    transform: translateX(-5px);
}

.home-container .section-h hr {
    margin-top: -10px;
    margin-bottom: 15px;
}

.profile-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    height: 80vh;
    grid-column-gap: 10px;
}

.profile-container .profile-col-1 {
    padding: 10px 20px 20px 20px;
    margin-right: 50px;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 16px;
    box-shadow: 5px 10px 30px rgba(61, 61, 61, 0.46);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-container .profile-col-1 .form-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-container .profile-col-1 .form-group:last-of-type {
    justify-content: center;
    align-items: center;
}

.profile-container .profile-col-1 .form-group h5{
    font-size: 20px;
}

.profile-container .profile-col-1 .form-group input{
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid var(--light-green);
    outline: none;
    height: 25px;
    width: 350px;
    font-size: 20px;
    color: var(--green);
}

.profile-container .profile-col-1 .form-group a {
    text-decoration: none;
}

.profile-container .profile-col-1 .form-group .edit-profile-btn{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    font-size: 20px;
    background-color: var(--green);
    border-radius: 10px;
    color: var(--light);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.profile-container .profile-col-1 .form-group .edit-profile-btn:hover{
    background-color: var(--dark-green);
}

.profile-container .profile-col-1 .form-group .edit-profile-btn span {
    margin-left: 10px;
}

.profile-container .profile-col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: 20px;
    padding: 10px 20px 20px 20px;
    width: 80%;
    background: rgba(211, 211, 211, 0.66);
    border-radius: 16px;
    box-shadow: 5px 10px 30px rgba(61, 61, 61, 0.46);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
}

.profile-container .profile-col-2 .img-container {
    background: transparent;
}

.profile-container .profile-col-2 .img-container img{
    border-radius: 100%;
    width: 240px;
    height: 240px;
    position: relative;
}

.profile-container .profile-col-2 .img-container .img-overlay {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.27);
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.profile-container .profile-col-2 .img-container .img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.profile-container .profile-col-2 .img-container .img-overlay:hover i {
    color: var(--green);
}

.profile-container .profile-col-2 .img-container .img-overlay i {
    font-size: 40px;
    color: var(--light);
    transition: all 0.3s ease-in-out;
    position: relative;
    top: 40%;
}

.profile-container .profile-col-2 .username {
    color: var(--green);
    font-size: 30px;
}

.notification-opt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.notification-opt h5{
    font-size: 20px;
    color: var(--green);
}

.notification-opt .toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

.notification-opt .toggle-container input[type=checkbox] {
   display: none;
}

.notification-opt .toggle-container .toggle-text {
    margin-right: 10px;
    color: var(--light-green);
}

.notification-opt .toggle-container .toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 70px;
    height: 40px;
    background-color: #444;
    border-radius: 30px;
}

.notification-opt .toggle-container .toggle .toggle-button {
    position: relative;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.notification-opt .toggle-container .toggle.toggle-active {
    background-color: var(--green);

}

.notification-opt .toggle.toggle-active .toggle-button {
    left: 35px;
}

/* media query starts */

/* tablet devices */
@media (max-width: 768px) {

    body{
        overflow-y: scroll;
    }

    .home-container .section-h{
        width: 100%;
    }

    .home-container .section-h h2 {
        font-size: 20px;
    }

    .profile-container {
        display: flex;
        background-color: transparent;
        flex-direction: column;
        height: auto;
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        padding-right: 15px;
    }

    .profile-container .profile-col-2 {
        width: 50vw;
        margin: 15px auto 20px auto;
    }

    .profile-container .profile-col-1 {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .profile-container .profile-col-1 .profile-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .profile-container .profile-col-2 .img-container img{
        width: 200px;
        height: 200px;
    }

    .profile-container .profile-col-2 .img-container .img-overlay {
        width: 200px;
        height: 200px;
    }

}

/* mobile phones */
@media (max-width: 480px) {

    .profile-container {
        height: auto;
        background-color: transparent;
    }

    .profile-container .profile-col-1{
        margin-left: -15px;
        width: 95%;
    }

    .profile-container .profile-col-2{

    }

    .profile-container .profile-col-1 .profile-form .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .profile-container .profile-col-1 .profile-form .form-group input{
        width: 95%;
        margin-left: 0px;
    }

    .profile-container .profile-col-2 .img-container img{
        width: 150px;
        height: 150px;
    }

    .profile-container .profile-col-2 .img-container .img-overlay {
        width: 150px;
        height: 150px;
    }

    .profile-container .profile-col-1 .profile-form .form-group .edit-profile-btn{
        margin-top: 30px;
        width: 60vw;
        margin-bottom: 20px;
    }
}