body {
    background-image: url(http://localhost/ayumed/images/green.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#registration h2 div {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 0px auto 0px auto;
    background-color: #F1FFF2;
    padding: 0px 20px 10px 20px;
    border-radius: 30px;
    max-width: 90%;
    overflow-y: scroll;
    height:95vh;
}

.form::-webkit-scrollbar{
    width: 0;
}


.form input {
    font-family: sans-serif;
    background-color: #E0E3E5;
    width: 90%;
    height: 10px;
    margin: 10px 0px 10px 0px;
    padding: 15px;
    font-size: 14px;
    border-radius: 30px;
    border-color: black;

}

.form #staff-signup-btn {
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    background-color: var(--light-green);
    width: 90%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease-in-out;
}

form input:focus {
    border: 3px solid dodgerblue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}

.form #staff-signup-btn:hover {
    background-color: var(--green);
    font-weight: bold;
}