.main{
width : 100% ;
display:flex;

}
.left{
width : 50% ;
background-image : url(http://localhost/ayumed/images/staff-login.jpg) ;
background-size: 50% 60%;
 height: 100vh;
 background-repeat: no-repeat;
background-position : center ;
}
.right {
width : 50% ;
 margin: 10px 10px 10px 5px;
 border-radius: 10px;
 border: 3px solid var(--green);
 background-color: var(--light);
 box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
h1 {
color:var(--light-green);
font-size:35px;
text-align:center;
}
.form {
max-width : 60%; 
margin-left:20%;
}

.form label {
 color: var(--green);
}

.form input {
width:100%;
padding : 10px;
font-size:15px;
border-radius:30px;
border-color:green;
}
.form input:focus {
border:3px solid dodgerblue;
}

button{
background-color:var(--light-green);
padding:10px 50px;
border-radius:30px;
 font-size: 20px;
color:white;
border:none;
cursor:pointer;
 transition: all 0.3s ease-in-out;
}
button:hover{
background-color:var(--green);
}

.form .signup-op{
 font-size: 15px;
}

.form .signup-opt a{
 color: var(--green);
}
