/* fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

/* color variables */
:root {
     --green: #1B9527;
     --dark-green:#007B0C;
     --darker-green:#005700;
     --light-green:#007B6B;
     --dark:#000000;
     --light:#ffffff;
     --primary:#007BFF;
     --secondary:#6C757D;
     --danger:#DC3545;
     --dark-red:#ae2533;
     --success:#28A745;
     --warning:#FFC107;
     --info:#17A2B8;
}

body{
     box-sizing: border-box;
     margin: 0;
     font-family: 'Poppins', sans-serif;
}

.btn{
     cursor: pointer;
     border-radius: 10px;
     font-size: 15px;
     border: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
     
}

.card{
     padding: 10px 20px 10px 20px;
     border-radius: 10px;
     background-color: rgba(237, 235, 235, 0.795);
}

.btn a{
     text-decoration:  none;
     color: white;
}

.container{
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     height: 100vh;
     width: 100vw; 
}

.col-2{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 0px;
}

.row{
     display: flex;
     flex-direction: row;
}

.img-container{
     display: flex;
     align-items: center;
}

.err{
     color: var(--danger);
}

.err-fill {
     color: var(--light);
     background-color: var(--danger);
     font-size: 20px;
     padding: 5px 10px;
     text-align: center;
}

/* login options page styles */

.ayumed-logo img{
     width: 100px;
     position: absolute;
     left: 0;
     top: 0;
}

.ayumed-logo span{
     position: absolute;
     font-size: 20px;
     top: 0;
     left: 0;
     margin-left: 100px;
     margin-top: 35px;
}

.title{
     font-size: 40px;
     padding-top: 100px;
     padding-bottom: 20px;
}

.login-option-container{
     width: 60vw;
     height: 50%;
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-gap: 15px;
     justify-content: center;
     align-content: center;
     margin: auto;
     border-radius: 20px;
}

.login-opt{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px;
     justify-content: center;
     width: 150px;
     height: 150px;
     background-color: var(--dark-green);
     border-radius: 10px;
     margin: auto;
     box-shadow: 0px 0px 10px 0px rgba(66, 66, 66, 0.56);
     transition: all 0.5s ease-in-out;
}

.login-opt a{
     text-decoration: none;
}

.login-opt:hover{
     cursor: pointer;
     transform: scale(1.05);
     background-color: var(--light);
     box-shadow: 0px 0px 20px 5px rgba(66, 66, 66, 0.56);
}

.login-opt .logo-container i{
     font-size: 50px;
     color: var(--light);
}

.login-opt:hover .logo-container i{
     color: var(--dark-green);
}

.login-opt .opt-text h4{
     font-size: 20px;
     color: var(--light);
}

.login-opt:hover .opt-text h4{
     color: var(--dark-green);
}


/* media query starts */

/* tablet devices */
@media (max-width: 768px){
     .login-option-container{
          grid-template-columns: repeat(2,1fr);
          grid-gap: 10px;
     }
}

/* mobile phones */
@media (max-width: 480px){
     .login-option-container{
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 25px;
          height: 100%;
     }

     .title{
          font-size: 30px;
     }
}

/* login options page styles ends */

/* email verification page styles */
.message-container{
     display: flex;
     flex-direction: column;
     border: 2px solid var(--green);
     border-radius: 10px;
     margin-top: 2%;
     margin-right: 30px;
     margin-left: 30px;
     background-color: #F9F9F9;
     padding-bottom: 20px;
}

.heading{
     display: flex;
     flex-wrap: wrap;
}

.heading-text{
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     text-align: center;
     width: 100vw;
     margin-top: -60px;
}

.heading .logo img{
     width: 100px;
     height: 100px;
}

.message-body .email-logo img{
     width: 400px;
     height: 400px;
}

.message-body .email-logo{
     margin-left: 10px;
     margin-right: 10px;
}

.message-body .text{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-left: 20px;
     margin-right: 20px;
}

.message-body .text #otp-input{
     height: 30px;
     width:300px;
     padding: 5px;
     border: 2px solid var(--green);
     border-radius: 10px;
     font-size: 20px;
}

.message-body .text #otp-input:focus{
     outline: none;
}

.otp-btn{
     background-color: var(--primary);
     color: var(--light);
     border-radius: 10px;
     margin-left: 10px;
}

#otp-form{
     display: flex;
     flex-direction: row;
}

/* mobile phones */
@media (max-width: 480px){
     .message-body .email-logo img{
          width: 350px;
          height: 350px;
     }

     #otp-form{
          flex-direction: column;
     }

     .otp-btn{
          margin-top: 10px;
          margin-left: 0px;
     }
}
/* email verification page styles ends */

/* modal styles */
.modal {
     display: none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     font-family: 'Poppins', sans-serif;
     background-color: rgb(0,0,0);
     background-color: rgba(0,0,0,0.4);

}

/* Modal Content */
.modal-content {
     border-radius: 15px;
     background-color: #fefefe;
     margin: 50px auto;
     padding: 20px;
     width: 80%;
}


.close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}

.close:hover,
.close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}

/* media query starts */

/* tablet devices */
@media (max-width: 768px){

}

/* mobile phones */
@media (max-width: 480px){
     .modal-content {
          margin: 50px 20px;
     }
}

/* modal styles ends */

/* 404 page styles */
.img-404{
     width: 45vw;
     display: flex;
     margin: auto;
}

.error-page-heading{
     font-size: 50px;
     color: var(--dark-green);
     font-weight: bold;
}

.error-page-content{
     font-size: 30px;
     color: var(--dark-green);
}

.error-page-btn{
     color: white;
     font-weight: bold;
     background-color: var(--green);
     text-transform: uppercase;
     box-shadow: 0 0  10px var(--secondary);
     transition-duration: 0.3s;
     transition-property: box-shadow, transform;
}

.error-page-btn:hover, .error-page-btn:focus{
     background-color: var(--dark-green);
     box-shadow: 0 0  20px var(--secondary);
     transform: scale(1.05);
}

/* 404 page styles end */

