/* fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* color variables */
:root {
     --green:#19A627;
     --dark-green:#007B0C;
     --darker-green:#315F30;
     --dark:#000000;
     --light:#ffffff;
     --primary:#007BFF;
     --secondary:#6C757D;
     --danger:#DC3545;
     --success:#28A745;
     --warning:#FFC107;
     --info:#17A2B8;
}

body{
     box-sizing: border-box;
     margin: 0;
}

.btn{
     cursor: pointer;
     border-radius: 5px;
     font-size: 15px;
     border: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 15px;
     padding-right: 15px;
     
}

.btn a{
     text-decoration:  none;
     color: white;
}

.container{
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     height: 100vh;
     width: 100vw; 
}

.col-2{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 0px;
}

.row{
     display: flex;
     flex-direction: row;
}

.img-container{
     display: flex;
     align-items: center;
}

/* login options page styles */

.ayumed-logo img{
     width: 100px;
     position: absolute;
     left: 0;
     top: 0;
}

.ayumed-logo span{
     position: absolute;
     font-size: 20px;
     width: 250px;
     top: 40;
     left: 80;
}

.title{
     font-size: 40px;
     padding-top: 100px;
     padding-bottom: 20px;
}

.login-option-container{
     width: 60vw;
     height: 50%;
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-gap: 15px;
     justify-content: center;
     align-content: center;
     margin: auto;
     border-radius: 20px;
}

.login-opt{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10px;
     justify-content: center;
     width: 150px;
     height: 150px;
     background-color: var(--dark-green);
     border-radius: 10px;
     margin: auto;
     box-shadow: 0px 0px 10px 0px rgba(66, 66, 66, 0.56);
     transition: all 0.5s ease-in-out;
}

.login-opt a{
     text-decoration: none;
}

.login-opt:hover{
     cursor: pointer;
     transform: scale(1.05);
     background-color: var(--light);
     box-shadow: 0px 0px 20px 5px rgba(66, 66, 66, 0.56);
}

.login-opt .logo-container i{
     font-size: 50px;
     color: var(--light);
}

.login-opt:hover .logo-container i{
     color: var(--dark-green);
}

.login-opt .opt-text h4{
     font-size: 20px;
     color: var(--light);
}

.login-opt:hover .opt-text h4{
     color: var(--dark-green);
}

/* media query starts */

/* tablet devices */
@media (max-width: 768px){
     .login-option-container{
          grid-template-columns: repeat(2,1fr);
          grid-gap: 10px;
     }
}

/* mobile phones */
@media (max-width: 480px){
     .login-option-container{
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 25px;
          height: 100%;
     }

     .title{
          font-size: 30px;
     }
}

/* login options page styles ends */

/* 404 page styles */
.img-404{
     width: 45vw;
     display: flex;
     margin: auto;
}

.error-page-heading{
     font-size: 50px;
     color: var(--dark-green);
     font-weight: bold;
}

.error-page-content{
     font-size: 30px;
     color: var(--dark-green);
}

.error-page-btn{
     color: white;
     font-weight: bold;
     background-color: var(--green);
     text-transform: uppercase;
     box-shadow: 0 0  10px var(--secondary);
     transition-duration: 0.3s;
     transition-property: box-shadow, transform;
}

.error-page-btn:hover, .error-page-btn:focus{
     background-color: var(--dark-green);
     box-shadow: 0 0  20px var(--secondary);
     transform: scale(1.05);
}

/* 404 page styles end */

