/* fonts */

/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* color variables */
:root {
     --green:#19A627;
     --dark-green:#007B0C;
     --darker-green:#315F30;
     --dark:#000000;
     --light:#ffffff;
     --primary:#007BFF;
     --secondary:#6C757D;
     --danger:#DC3545;
     --success:#28A745;
     --warning:#FFC107;
     --info:#17A2B8;
}


body{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
}

.btn{
     cursor: pointer;
     border-radius: 5px;
     font-size: 15px;
     border: 0px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 15px;
     padding-right: 15px;
     
}

.btn a{
     text-decoration:  none;
     color: white;
}

.container{
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     height: 100vh;
     width: 100vw; 
}

.col-2{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 0px;
}

.row{
     display: flex;
     flex-direction: row;
}

.img-container{
     display: flex;
     align-items: center;
}

/* login page styles */

.login-img{
     height: 100%;
     width: 40vw;
}

.login-container{
     margin-top: auto;
     margin-bottom: auto;
}

.login-form{
     padding: 30px;
     width: 40vw;
     margin-left: auto;
     margin-right: 50px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px var(--dark-green);
}

.login-form h2{
     font-size: 40px;
     text-transform: uppercase;
}

.login-form .form-group{
     margin-top: 50px;
     margin-bottom: 20px;
}

.login-form .input-group{
     height: 40px;
     width: 80%;
     margin: auto;
     position: relative;
}

.login-form .input-group input:focus ~ h5{
     transform: translateY(-25px);
     font-size: 20px;
     color: var(--green);
}

.login-form .input-group input:focus{
     border-bottom: 2px solid var(--green);
}

.login-form .input-group h5{
     font-size: 25px;
     color: rgb(158, 156, 156);
     position: absolute;
     bottom: -30px;
     pointer-events: none;
     transition: all 0.3s ease-in-out;
}

.login-form .input-group input{
     height: 100%;
     width: 100%;
     border: none;
     border-bottom: 2px solid rgb(158, 156, 156);
     outline: none;
     background: none;
     font-size: 25px;
}

.show-pwd-icon{
     color: var(--green);
     font-size: 25px;
     position: absolute;
     bottom: 10px;
     margin-left: 45%;
     cursor: pointer;
}

.forgot-pwd{
     padding: 20px 0px 20px 0px;
     display: flex;
     margin-left: 10%;
}

.login-form .login-btn{
     margin-top: 20px;
     background-color: var(--green);
     color: var(--light);
     font-size: 25px;
     width: 50%;
     margin: auto;
     transition: all 0.2s ease-in-out;
}

.login-form .login-btn:hover{
     background-color: var(--dark-green);
}

.err-login{
     text-align: left;
     margin-left: 10%;
     font-size: 20px;
     font-weight: bold;
     color: var(--danger);
}

/* login page styles end */


/* 404 page styles */
.img-404{
     width: 45vw;
     display: flex;
     margin: auto;
}

.error-page-heading{
     font-size: 50px;
     color: var(--dark-green);
     font-weight: bold;
}

.error-page-content{
     font-size: 30px;
     color: var(--dark-green);
}

.error-page-btn{
     color: white;
     font-weight: bold;
     background-color: var(--green);
     text-transform: uppercase;
     box-shadow: 0 0  10px var(--secondary);
     transition-duration: 0.3s;
     transition-property: box-shadow, transform;
}

.error-page-btn:hover, .error-page-btn:focus{
     background-color: var(--dark-green);
     box-shadow: 0 0  20px var(--secondary);
     transform: scale(1.05);
}

/* 404 page styles end */

/* media query starts */

/* tablet devices */
@media (max-width: 768px){
     .img-container{
          display: none;
     }

     .login-form{
          width: 80vw;
          margin-left: 30px;
     }
}

/* mobile phones */
@media (max-width: 480px){
     .img-container{
          display: none;
     }

     .login-form{
          width: 80vw;
          margin-left: 15px;
     }
}

/* media query ends */